{% extends 'products/base.html' %}
{% block title %}Корзина{% endblock %}
{% block content %}
  <h1>Корзина</h1>
  <div id="cart-items">
    {% for item in cart_items %}
      <div class="cart-item">
        <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
        <span>{{ item.product.name }}</span>
        <span>{{ item.quantity }}</span>
        <span>{{ item.total_price }}</span>
        <button data-product-id="{{ item.product.id }}" class="change-quantity">+</button>
        <button data-product-id="{{ item.product.id }}" class="change-quantity">-</button>
        <button data-product-id="{{ item.product.id }}" class="remove">Удалить</button>
      </div>
    {% endfor %}
  </div>
  <div id="cart-total">Итого: {{ total }}</div>
  <a href="{% url 'products:home' %}">Продолжить покупки</a>
{% endblock %}