{% extends 'products/base.html' %}

{% block title %}{{ product.name }} - Мой магазин{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            {% if product.image %}
                <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}">
            {% else %}
                <img src="https://via.placeholder.com/600x400?text=Нет+изображения" class="img-fluid" alt="Placeholder">
            {% endif %}
        </div>
        <div class="col-md-6">
            <h1>{{ product.name }}</h1>
            <p class="lead">{{ product.description }}</p>
            <h3 class="my-3">{{ product.price }} руб.</h3>
            <p>В наличии: {% if product.stock %} {{ product.stock }} шт. {% else %} Нет {% endif %}</p>
            <a href="{% url 'cart:add_cart' %}?product_id={{ product.id }}" class="btn btn-success btn-lg">Добавить в корзину</a>
            <a href="{% url 'products:home' %}" class="btn btn-secondary btn-lg">Назад к списку</a>
        </div>
    </div>
{% endblock %}